        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #d8d8d8;
            font-family: Arial, sans-serif;
        }

        .window {
            width: 500px;
            height: 500px;
            padding: 20px;
            background-color: #ffffff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            display: flex;
            flex-direction: column;

        }


        .window button a {
            color: rgb(0, 0, 0); 
            text-decoration: none; 
        }

        .window button {
            margin: 10px 0;
            padding: 10px 15px;
            background-color: #b6b6b6;
            color: rgb(255, 0, 0);
            border: none;
            border-radius: 5px;
            cursor: pointer;
           
        }

        .window button:hover {
            background-color: #bebebe;
        }